Project_Client_ASP.NET/Connected Services/ProjRef/WSDL.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ahmed-laptop:83/Proj.svc/WSDL?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Project_Server" />
  <xs:element name="GetAllEmployees">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEmployeesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Project_Server" minOccurs="0" name="GetAllEmployeesResult" nillable="true" type="q1:ArrayOfEmployee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SSN" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Project_Server" minOccurs="0" name="GetEmployeeByIDResult" nillable="true" type="q2:Employee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeesinDept">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeesinDeptResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Project_Server" minOccurs="0" name="GetEmployeesinDeptResult" nillable="true" type="q3:ArrayOfEmployee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Project_Server" minOccurs="0" name="emp" nillable="true" type="q4:Employee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddEmployeeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Project_Server" minOccurs="0" name="emp" nillable="true" type="q5:Employee" />
        <xs:element minOccurs="0" name="SSN" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateEmployeeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SSN" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveEmployeeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDepartments">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDepartmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Project_Server" minOccurs="0" name="GetAllDepartmentsResult" nillable="true" type="q6:ArrayOfDepartment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartmentByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartmentByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Project_Server" minOccurs="0" name="GetDepartmentByIDResult" nillable="true" type="q7:Department" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartmentofEmp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SSN" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartmentofEmpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Project_Server" minOccurs="0" name="GetDepartmentofEmpResult" nillable="true" type="q8:Department" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDepartment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Project_Server" minOccurs="0" name="dept" nillable="true" type="q9:Department" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDepartmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddDepartmentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDepartment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDepartmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateDepartmentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveDepartment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveDepartmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveDepartmentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>